* {
  box-sizing: border-box;
}

html,
body {
  font-size: 1rem;
  overflow-y: hidden;
}

body {
  height: 100vh;
  margin: 0;
  background-color: aquamarine;
  overflow-x: hidden;
  overflow-y: auto;
}

.header {
  width: 100%;
  height: 10%;
  border-bottom: 2px solid rgb(3, 3, 108);
  color: black;
  display: flex;
  justify-content: space-between;
}

.header h1 {
  width: 40%;
  height: 100%;
  margin-left: 5%;
  margin-right: 55%;
  font-family: cursive, sans-serif, sans-serif;
  font-weight: 400;
  text-shadow: 5px 10px 10px rgb(38, 195, 212);
}

.header a {
  color: #000;
  text-decoration: none;
}

.header a:hover {
  color: black;
}

.signin {
  width: 100%;
  height: 100%;
}

.rightBar {
  width: 30%;
  height: 100%;
  background: linear-gradient(90deg, rgb(13, 203, 200), rgb(9, 142, 140));
  color: aliceblue;
  margin: 0;
  flex-wrap: wrap;
  margin-right: 0;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.rightbarinfo {
  width: 100%;
}

.rightBar h1 {
  text-align: center;
  width: 100%;
  margin-top: 20%;
  margin-bottom: 30%;
  color: #fff;
  font-size: 2.5rem;
  height: 30%;
}

.rightBar p {
  width: 100%;
  height: 10%;
  margin-top: 20%;
  margin-bottom: 20%;
  text-align: center;
  font-size: 1.5rem;
}

.rightBar h2 {
  height: 10;
  width: 100%;
  text-align: center;
  margin-top: 20%;
  margin-bottom: 40%;
}

.rightBar a {
  width: 100%;
  height: 10%;
  margin-top: 10%;
  margin-bottom: 50%;
  text-decoration: none;
  outline: none;
  color: rgb(13, 203, 200);
  border-radius: 15px;
  background-color: white;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
}


.leftBar {
  width: 70%;
  height: 90%;
  float: left;
  display: flex;
  background-color: #fff;
  flex-wrap: wrap;
  color: black;
  padding: 0;
}

.signinTab {
  width: 100%;
}

.SigninTitle {
  display: block;
  width: 100%;
  height: 15%;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 3%;
  margin-bottom: 10%;
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.emailTab {
  width: 100%;
  height: 15%;
  margin-bottom: 3%;
}

.emailTab input {
  width: 60%;
  margin-left: 20%;
  height: 100%;
  border-radius: 30px;
  background-color: rgb(240, 228, 228);
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 1rem;
  text-align: left;
  padding-left: 15px;
}

.passwordTab {
  width: 100%;
  height: 15%;
  margin-bottom: 3%;
}

.passwordTab input {
  width: 60%;
  margin-left: 20%;
  height: 100%;
  border-radius: 30px;
  background-color: rgb(240, 228, 228);
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 1rem;
  text-align: left;
  padding-left: 15px;
}

.loginButton {
  width: 100%;
  height: 15%;
}


.loginButton button {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  height: 80%;
  border-radius: 30px;
  background-color: rgb(13, 203, 200);
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}

.loginButton button:active {
  background-color: rgb(5, 89, 88);
}

.or {
  width: 50%;
  height: 5%;
  font-size: 1rem;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: .5em;
  margin: 2% 25%;
}

.or span {
  background: #fff;
  padding: 0 10px;
}

.forgetPassword {
  margin-top: 5%;
  height: 15%;
  text-align: center;
  font-size: 1.5rem;
  border: none;
  color: rgb(13, 203, 200);
  font-weight: 500;
}

.forgetbtn {
  margin-top: 10%;
  width: 30%;
}

.forgetinput {
  margin-top: 10%;
}

.home {
  width: 100%;
  height: 100%;
  display: block;
  overflow-x: hidden;
}

.searchAndUsername {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
}

.Btn {
  min-width: 10%;
  min-height: 60%;
  margin-left: 5%;
  font-size: 1.2rem;
  border-radius: 50px;
  border: #fff;
}

.one {
  background-color: rgb(14, 14, 241);
  color: #fff;
}

.one:hover {
  background-color: rgb(6, 6, 152);
}

.two {
  background-color: red;
  color: #fff;
}

.two:hover {
  background-color: rgb(220, 5, 5);
  color: #fff;
}

.searchAndUsername h3 {
  margin-left: 15%;
  margin-right: 10%;
  font-size: 1.3rem;
  text-shadow: 5px 10px 20px rgb(20, 241, 245);
}

.navlinked {
  font-size: 1.5rem;
}

.addTextarea {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}

.navbar {
  background-color: white;
  width: 15%;
  height: 20%;
  position: fixed;
  padding: 10%;
  overflow-y: auto;
}

.navlink {
  text-decoration: none;
  color: #000;
  display: block;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navlink:hover {
  border-bottom: 2px solid brown;
  border-top: 2px solid brown;
  border-radius: 10px;
  color: black;
}

.nav-bar li:last-child {
  border: none;
}

.addButton {
  width: 10%;
  height: 10%;
  margin-left: 10%;
  background-color: aquamarine;
}

.noteContainer {
  width: 50%;
  margin-left: 25%;
  margin-top: 2%;
  border: 1px solid rgb(196, 195, 190);
  padding: 2px;
  border-radius: 10px;
  background-color: #fff;
}

.noteContainer:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.noteContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.1rem;
  font-weight: 600;
}

.noteContainer textarea {
  width: 100%;
  border: none;
  outline: none;
  margin-top: 5%;
  font-weight: 400;
  resize: none;
}

.noteContainer button {
  border: none;
}


@media (max-width:750px) {
  .header {
    height: 10%;
    width: 100%;
  }

  .signin {
    height: 100%;
    width: 100%;
    display: flex-box;
    flex-direction: column;
  }

  .leftBar {
    width: 100%;
    height: 70%;
  }

  .rightBar {
    width: 100%;
    height: 20%;
  }

  .home {
    width: 100vw;
    height: 100vh;
  }

  .noteContainer {
    width: 90%;
    margin-left: 5%;
  }

  .signinTab {
    height: 10%;
    width: 100%;
  }

  .SigninTitle {
    font-size: 2rem;
  }

  .emailTab {
    height: 10vh;
  }

  .emailTab input {
    height: 90%;
  }

  .passwordTab {
    height: 10vh;
  }

  .passwordTab input {
    height: 90%;
  }

  .loginButton {
    height: 10vh;
  }

  .loginButton button {
    width: 40%;
    margin: 0 30%;
  }

}